/* Définition des variables */
:root {
    --title-color: #666;
    --sep-color: #ccc;
    --primary-color: #1140da;
    --title-background: rgba(0, 0, 0, 0.55);
    --border-radius: 3.5px;
}

/* Styles */
html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    letter-spacing: 0.1em;
}

.welcome-container {
    width: 100vw;
    height: 100vh;

    background-image: url("../img/welcome_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.high-maj {
    font-weight: inherit;
    font-size: 16pt !important;
    text-transform: uppercase;
}

.title {
    margin: 0px;
    display: inline-block;
    color: #fff;
    text-transform : uppercase;
    letter-spacing: 0.2em;
    font-size: 14pt;
}

.small-title {
    font-size: 13pt !important;
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 14pt;
}

.right {
    float: right;
    margin-right: 2vw;
}

.logo {
    color: #fff;
    font-size: 16pt;
    transform: rotate(-45deg);
    margin-right: 7.5px;
    vertical-align: top;
}

.bar-menu {
    padding-top: 5vh;
    padding-left: 5.5vw;
    padding-right: 2.5vw;
}

.quote {
    position: relative;
    width: 65%;
    margin: auto;
    top: 35vh;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    font-weight: 300;
    color: #fff;
    background-color: var(--title-background);
}

.floating-form {
    position: relative;
    top: 15vh;
    width: 27.5vw;
    margin: auto;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: var(--border-radius);
    padding: 10px 15px;
}

.floating-form .title {
    color: var(--title-color);
    letter-spacing: 0.1em !important;
    text-transform: none !important;
    font-size: 18pt !important;
    margin: 10px;
    color: var(--title-color);
}

.floating-form hr {
    border: 0px;
    border-bottom: 1px solid var(--sep-color);
}

.hint {
    margin: 0px;
    font-size: 10pt;
}

.field {
    outline: none;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    border: 0px;
    border-bottom: 2px solid #e5e5e5;
}

.field:focus, .field:active {
    border-bottom-color: var(--primary-color);
}

.btn {
    display: block;
    width: 100%;
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: 0px;
    border-radius: var(--border-radius);
    font-size: 16pt;
    letter-spacing: 0.105em;
}

/* Animations */